* {
	margin: 0;
	padding: 0;
	/*se define como se calcularán los cuadrados en base al ancho y al alto con respecto al padding
	content-box indica que todo será sin considerar padding o bordes
	border-box indica que se incluyen en los calculos bordes y padding
	initial se fija el valor por defecto, depende del dispositivo y el navegador
	inherit utiliza el valor del contenedor del elemento
	*/
	box-sizing: border-box;
	font-family: CircularStd-Bold,Helvetica,Arial,sans-serif;
	
}
body {
	background:#d80404;
	width: 100%;
}
.contenedor {
	background-color:#d80404;
	max-width:1300px;
	width: 100%;
	margin:auto;
	justify-content:space-between;
	/* Flexbox */
	/*display es la propiedad que indica como se verán los elementos
	En css tradicional se usan tipicamente block, inline none, table, pero existen varias opciones
	flex indica que el elemento tendrá características responsivas
	*/
	display:flex;
	/*Flex-flow indica como se desplegarán los elementos dentro de un contenedor flex
	hay dos configuraciones básicas flex-direction y flex-wrap
	row, row-reverse, column, column-reverse flex directiion
	nowrap,wrap,wrap-reverse
	*/
	flex-flow:row wrap;
	
}
.jaja{
	background-color:#d80404;
	width:100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}


.formulario {
	background-color:#d80404;
	width: 100%;
	display: block;
	justify-content: space-between;
	flex-direction: column;

}

h2{
	padding:10px;
	width: 100%;
}

.agregar{
	text-decoration: none;
	background-color: white;
    color: black;
	border: 2px solid black; /* Green */
	font-weight: 400;
	font-size: 20px;
	margin: 5px;
	padding: 10px;
}


.lista {
	background-color:#4cb487;
	width:100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}

.lista .table  {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
	padding :20px;
}

.lista .table thead td {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
}

.lista .table tbody td {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
	padding: 20px;
	height: 150px;
	width: 300px;
}

.mensaje{
	background-color:#d80404;
	text-align: right;
}
.lista .table .modificar{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .lista .table .modificar:hover{
    color: #1883ba;
    background-color: #ffffff;
  }


.lista .table .eliminar{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    background-color: #CC4022;
    border-radius: 6px;
    border: 2px solid #993F2C;
  }
  .lista .table .eliminar:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

header {
	background:#d80404;
	width:100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	/*flex-start desde un comienzo hasta el final
	flex-end desde el final al comienzo
	center 
	space-between los items son puestos con espacios posteriores
	space-around items son puestos con espacios antes
	*/
	justify-content:space-between;
	align-items:center;

	flex-direction:row;/**otra forma de mostrar lo mismo*/
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:30px;

}

header .logo img {
	width:150px;
	vertical-align: top;
}

header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:50px;
}

header nav {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	flex-direction: row;

}

header nav a {
	background:#d80404;
	color:#000000;
	height: 50px;
	text-align: center;
	align-items: right;
	text-decoration: none;
	padding:10px;
	font-size: 20px;
	font-weight: bold;
	/* Flexbox */
	flex-grow:1; /*Especifica el numero maximo de items flex que pueden adecuarse en una zona*/
}

header nav a:hover {
	background:#a60a0a;
}
.navegador{
	display: flex;
	flex-wrap:wrap-reverse;
	flex-direction: column;
	width: 75%;
}
.usuario{
	margin-top: 0%;
	text-align: right;
}

.carrusel-social{
	background-image: url("/static/img/fondo.jpg");
	background-repeat: no-repeat;
  	background-size: 100%;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	width: 100%;
}
/*Seccion donde va el carrusel*/
.car{
	width: 100%;
	max-width: 1000px;
	background: transparent;
}
/*Carrusel - Imagenes*/
.carrusel,
.carrusel li,
.carrusel li img{
	width: 100%;
	height: 500px;
}
ul{
	list-style: none;
}




.info 
{
	color:#000000;
	background:#ff0000;
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;

}
.texto1
{
	display:inline-block;

	width: 40%;
	height: 20px;

}
.texto2
{
	display:inline-block;
	
	margin: 10px;
	width: 340px;
	height: 20px;

}
.texto3
{
	display:inline-block;
	
	margin: 10px;
	width: 330px;
	height: 20px;

}



#carrusel {
	background-color: #4cb487;
	width:100%;
}

#carrusel img{
    width: 100%;
    background:#4cb487;
    position: relative;
}

#carrusel p{
	width: 40%;
	padding-left: 20px;
	position: absolute;
	bottom: 70px;
	text-align: left;
}


.cajainfo {
	width: 1300px;
	display:flex;
	font-size:15px;
	padding:0 10px;
	background-color:white;
	padding-top:20px;
	padding-bottom: 30px;
}

.cajainfo h3{
	color:grey;
}

.columna1{
	display:flex;
	width: 50%;
	flex-direction:column;
	align-items:right;
	text-align:right;
	padding-right:10px;
}


.columna1 hr{
	float:right;
}






.columna2{
	display:flex;
	width: 50%;
	flex-direction:column;
	align-items:left;
	text-align:left;
	padding-left:10px;
}


.columna2 hr{
	float:left;
}


.cajainfo .columna2 input{
	text-decoration:none;
	font-weight: 600;
	font-size: 15px;
	color:#000000;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:3px;
	padding-right:3px;
	background-color: transparent;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	width: 25%;
}


.main {
	background:#3CEF8D;
	

	flex:1 1 70%;/*Establece que sera un 70% del ancho del contenedor
	1 es el numero máximo de items flex 
	1 estabñece que será automático el ajuste, es decir no cambiará su escala en base a los dimensionamientos
	
	*/
	
	/*flex:1;*/
}

.collage{
	width: 100%;
	max-width: 1000px;
 
	margin: auto;
	display:flex;
	justify-content:space-between;
	background-color:#4cb487; 
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.collage .caja{
	width: 32%;
	box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.collage .caja img{
	width: 100%;
	height: 32%;
	object-fit:cover;
}

.collage img:hover{
	transform:scale(1.5);
	transition:all ease 1.5s;
	cursor:pointer;
}

.collage .largo img{
	 height: 48%;
}

.collage .maslargo{
	height:65%;
	
}

*{
	padding: 0;
	margin: 0;
}
.panel{
	background: #8A4B08;
	width: 800px;
	height: 490px;
	border: 1px;
	float: center;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
hr{
	margin-top: 5px;
}
.titulo{
background:#E6E6E6;
text-align: center;
color: #000000;
width: 70%;
height: 10%;
margin-right: auto;
margin-left: auto;
border-radius: 0px 0px 118px 118px;
}
.formulari{
padding: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background:#FFFF;
	width: 700px;
	height: 390px;
	font-family: "Arial Black";
	}

.paneleliminar{
	background: #8A4B08;
	width: 800px;
	height: 490px;
	border: 1px;
	float: center;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
hr{
	margin-top: 5px;
}
.tituloeliminar{
background:#E6E6E6;
text-align: center;
color: #000000;
width: 70%;
height: 10%;
margin-right: auto;
margin-left: auto;
border-radius: 0px 0px 118px 118px;
}
.formularioeliminar{
padding: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background:#FFFF;
	width: 700px;
	height: 390px;
	font-family: "Arial Black";
	}
.contenedor-inputseliminar{
	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 100%;
	text-align: center;
	margin-top: 100px;
	font-size: 25px;
}
body a{
	margin-left: auto;
	margin-right: auto;
}
.btn-enviar{
	color: #ffffff;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
	padding: 7px;
	text-decoration: none;
	background: #27a82f;
	margin-left:auto;
    margin-right: auto;
	margin-top:17px;
	font-size: 25px;
	width: 90%;	
}
.btn-ingreso{
	color: #ffffff;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
	padding: 7px;
	text-decoration: none;
	background: #27a82f;
	margin-left:auto;
    margin-right: auto;
	margin-top:30px;
	font-size: 25px;
	width: 40%;	
}
.contenedor-inputs{
	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 100%;
	text-align: left;
	margin-top: 30px;
	font-size: 25px;
}

.panel2{
	background: #8A4B08;
	width: 700px;
	height: 600px;
	border: 1px;
	float: center;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
.formulari2{
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	background:#FFFF;
	width: 600px;
	height: 500px;
	font-family: "Arial Black";
	}
.titulo2{
background:#E6E6E6;
text-align: center;
color: #000000;
width: 70%;
height: 7%;
margin-right: auto;
margin-left: auto;
border-radius: 0px 0px 118px 118px;
font-size: 30px;
}
.contenedor-inputs2{
	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	text-align: left;
	background: #ffffff;
	font-size: 23px;
}
.paneleditar{
	background: #8A4B08;
	width: 700px;
	height: 600px;
	border: 1px;
	float: center;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
.formularieditar{
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	background:#FFFF;
	width: 600px;
	height: 500px;
	font-family: "Arial Black";
	}
.tituloeditar{
background:#E6E6E6;
text-align: center;
color: #000000;
width: 70%;
height: 7%;
margin-right: auto;
margin-left: auto;
border-radius: 0px 0px 118px 118px;
font-size: 30px;
}
.contenedor-inputseditar{
	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	text-align: left;
	background: #ffffff;
	font-size: 30px;
}
.panelañadir{
	background: #8A4B08;
	width: 900px;
	height: 700px;
	border: 1px;
	float: center;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
.formulariañadir{
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	background:#FFFF;
	width: 800px;
	height: 600px;
	font-family: "Arial Black";
	}
.tituloañadir{
background:#E6E6E6;
text-align: center;
color: #000000;
width: 70%;
height: 7%;
margin-right: auto;
margin-left: auto;
border-radius: 0px 0px 118px 118px;
font-size: 30px;
}
.contenedor-inputsañadir{
	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	text-align: left;
	background: #ffffff;
	font-size: 30px;
}
.infoproducto{
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	width: 100%;
	height: 100%;
}
.cajaproducto{
	width: 25%;
}
.imagen-producto{
	width: 100%;
	height: 50%;
}
.productodetalles{
	width: 100%;
	height: 50%;
	text-align: center;
}
.productodetalles h3{
	text-align: center;
	padding-top: 10px;
}
.productodetalles h4{
	text-align: center;
	color: red;
	padding-top: 10px;
	padding-bottom: 10px;
}
.btn-añadir{
	color: #ffffff;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		border: 0px solid #000000;
		padding: 7px;
		text-decoration: none;
		background: #27a82f;
		margin-left:auto;
		margin-right: auto;
		margin-top:17px;
		font-size: 15px;
		width: 55%;	
}
.boton_cancelarañadir{
	color: #ffff;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	padding: 8px;
	text-decoration: none;
	background: #2826B0;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
}
.detalleproducto{
	width: 100%;
	height: 50%;
}

  td{
	  padding: 10px;
  }
  .fondo-formulario{
  	background-image: url("/static/img/fondo.jpg");
	background-repeat: no-repeat;
  	background-size: 100%;
  	width: 100%
  }
  .regpanel{
  	background: #8A4B08;
	width: 500px;
	height: 470px;
	border: 1px;
	float: center;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
  }
  .regtitulo{
background:#E6E6E6;
text-align: center;
color: #000000;
width: 70%;
height: 10%;
margin-right: auto;
margin-left: auto;
border-radius: 0px 0px 118px 118px;
font-size: 40px;
 }
  .regproducto{
  	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background:#FFFF;
	width: 400px;
	height: 350px;
	font-family: "Arial Black";
  }
  .regcontenedor-inputs{
  	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-direction: column;
	height: 250px;
	width: 100%;
	text-align: left;
	background-color: #fff;
	padding-top: 10px;
	font-size: 30px;

  }

.panellista{
	background-color:#ffffff;
	width: 100%;
	height: 100%;
	border: 1px;
	float: center;
	margin-top: 10px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
/* CABECERAS DE LA TABLA*/
.columnas{
	background: #d80404;
	text-align: center;
	border-radius: 6px;
	font-size: 25px;
}
.fila{
text-align: center;
font-size: 25px;
}
.foto{
	text-align: center;
}
/* TITULO DE TABLA */
/* FONDO DE LA TABLA */
.formulariolista{
margin-top: 14px;
margin-left: 20px;
width: 97%;
height: 100%;
font-family: "Arial Black";
background-color:#ffff;
border-radius: 15px;
}
/* FORMULARIO */
.formucontenedor{
	display: flex;
	flex-direction: column;
	padding: 5px;
	text-align: center;
	height: 100%;
	width: 100%;
}
.tablalista{
	width: 100%;
	border-radius: 15px;
	height: 100%;
}
.boton_accion{
	text-align: center;
}
.boton_eliminarlista{
	color: #de0303;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	padding: 8px;
	text-decoration: none;
	background: #ffffff;
	font-family: "Arial Black";
	margin-right: auto;
	margin-left: 10px;
	margin-top: 20px;
  }
  .boton_eliminarprod{
	color: #ffff;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	padding: 8px;
	text-decoration: none;
	background: #de0303;
	font-family: "Arial Black";
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
  }
  .boton_cancelar{
	color: #ffff;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	padding: 8px;
	text-decoration: none;
	background: #2826B0;
	font-family: "Arial Black";
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
  }
  .boton_editarlista{
	color: #221f9c;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	padding: 8px;
	background:#ffffff;
	font-family: "Arial Black";
	margin-right: 10px;
	margin-left: auto;
  }

  @media screen and (max-width:600px) {
	.panel{
		background: #8A4B08;
		width: 100%;
		height: 330px;
		float: center;
		border-radius: 15px;
	}
	.titulo{
		background:#E6E6E6;
		text-align: center;
		font-size: 13px;
		color: #000000;
		width: 50%;
		height: 7%;
		margin-right: auto;
		margin-left: auto;
		border-radius: 0px 0px 118px 118px;
		}
	.formulari{
		padding: 4px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 4px;
		margin-bottom: 10px;
		background:#FFFF;
		width: 90%;
		height: 280px;
		font-family: "Arial Black";
		}
	.contenedor-inputs{
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		height: 200px;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	.titulo{
		background:#E6E6E6;
		text-align: center;
		color: #000000;
		width: 70%;
		height: 7%;
		margin-right: auto;
		margin-left: auto;
		border-radius: 0px 0px 118px 118px;
		font-size: 10px;
		}
	.btn-enviar{
		color: #ffffff;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		border: 0px solid #000000;
		padding: 7px;
		text-decoration: none;
		background: #27a82f;
		margin-left:auto;
		margin-right: auto;
		margin-top:17px;
		font-size: 25px;
		width: 300px;	
	}

	}
	.btn-ingreso{
		color: #ffffff;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		border: 0px solid #000000;
		padding: 7px;
		text-decoration: none;
		background: #27a82f;
		margin-left:auto;
		margin-right: auto;
		margin-top:30px;
		font-size: 25px;
		width: 40%;	
	}
}



footer {
	background:#2EFEC8;
	width: 100%;
	padding: 20px;
	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}


footer p{
	color: #403E3B;
}


/*
@media screen and (min-width:801px) {
	#carrusel{display:none;}
}
*/

@media screen and (max-width: 800px) {
	.fotoperro{display:none;}
	.info{display:none;}
	/*https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	nav {
		width: 100%;
		flex-direction:column;
		justify-content:center;
	}



	.cajainfo {
		width: 100%;
		display:flex;
		font-size:15px;
		padding:0 10px;
		background-color:white;
		padding-top:20px;
		padding-bottom: 30px;
		flex-direction: column;
	}

	.cajainfo h3{
		color:grey;
	}

	.columna1{
		display:flex;
		width: 100%;
		flex-direction:column;
		align-items:right;
		text-align:right;
		padding-bottom: 20px;
	}


	.columna1 hr{
		float:right;
	}






	.columna2{
		display:flex;
		width: 100%;
		flex-direction:column;
		align-items:left;
		text-align:left;
		text-indent: 0px;
	}


	.columna2 hr{
		float:left;
	}


	.cajainfo .columna2 input{
		text-decoration:none;
		font-weight: 600;
		font-size: 15px;
		color:#000000;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:3px;
		padding-right:3px;
		background-color: transparent;
		border-width: 3px;
		border-style: solid;
		border-color: #000000;
		width: 30%;
	}


	body {
	background: #4cb487;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	}

	body{
	    background: #34495e;
	}

	.collage{
	    width: 100%;
	    max-width: 1000px;
	 
	    margin: auto;
		display:flex;
		justify-content:space-between;
		background-color:#4cb487; 
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.collage .caja{
	    width: 32%;
	    overflow: hidden;
	    box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
		display:flex;
		flex-direction:column;
		justify-content:space-between;
	}

	.collage .caja img{
	    width: 100%;
	    height: 32%;
	    object-fit:cover;
	}

	.collage img:hover{
	    transform:scale(1.5);
	    transition:all ease 1.5s;
	    cursor:pointer;
	}

	.collage .largo img{
		 height: 48%;
	}

	.collage .maslargo{
		height:65%;
		
	}




}

@media screen and (max-width: 600px) {
	.fotoperro{display:none;}
	.info{display:none;}



	footer {
		justify-content:space-around;
	}
}