{% extends "maqueta.html" %}

{% block formulario %}
<div class="fondo-formulario">
<div class="panelañadir">
    <div class="tituloañadir">
       ¿Desea agregar al carrito un(a)?
    </div>
<div class="formulariañadir">
<form class="formulario" method="post" enctype="multipart/form-data" action="">
    <div class="contenedor-inputsañadir">
    {% if producto %}
    <div class="infoproducto">
        <h2>{{producto.nombreProducto}}</h2>
        <div class="imagen-producto">
            <img src="{{ producto.fotoProducto.url }}" width="100%" height="250px">
        </div>
        <h4>{{producto.descripcion}}</h4>
        <div class="productodetalles">
            {% csrf_token %}
            {{ form.as_p}} 
            <input class="btn-añadir" type="submit" value="AGREGAR AL CARRITO">
            <a class="boton_cancelarañadir" href= "{% url 'verProductos' %}">CANCELAR</a>
        </div>
    </div>
    {% else %}
       <h2>No hay productos </h2>
    {% endif %}
</div>
</form> 
</div> 
</div> 
</div>
{% endblock %}