{% extends "maqueta.html" %}

{% block nav %}
{% if user.is_authenticated and user.is_superuser %}
<nav>
    <a href="{% url 'inicio' %}">Inicio</a> 
    <a href="{% url 'gestionProducto' %}">Gestionar productos</a> 
    <a href="{% url 'logout' %}">Cerrar Sesion</a>
</nav> 
{% endif %}
{% endblock %}


{% block formulario %}
<div class="paneleditar">
    <div class="tituloeditar">
       Edicion de Producto
    </div>
<div class="formularieditar">
<form class="formulario" method="post" enctype="multipart/form-data" action="">
    <div class="contenedor-inputseditar">
    {% csrf_token %}
    {{ form.as_p }}
   <input class="btn-enviar" type="submit" value="Confirmar edicion">
</div>
</form> 
</div> 
</div>  

{% endblock %}