{% extends "maqueta.html" %}

{% block nav %}
{% if user.is_authenticated and user.is_superuser %}
<nav>
    <a href="{% url 'inicio' %}">Inicio</a> 
    <a href="{% url 'gestionProducto' %}">Gestionar productos</a> 
    <a href="{% url 'logout' %}">Cerrar Sesion</a>
</nav> 
{% endif %}
{% endblock %}


{% block formulario %}
<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <h3>¿Desea eliminar el registro de {{ producto.nombreProducto }}?</h3>
    {{ form.as_p }}
    <input type="submit" value="Si, eliminar">
    <a href= "{% url 'gestionProducto' %}">Cancelar</a>
</form>    

{% endblock %}