{% extends "maqueta.html" %}

{% block formulario %}
<div class="paneleliminar">
    <div class="tituloeliminar">
        <h1>Quitar del carrito</h1>
    </div>
 <div class="formularioeliminar">
 <form method="post" action="" enctype="multipart/form-data">
    <div class="contenedor-inputseliminar">
    {% csrf_token %}
    <h3>¿Desea quitar el/la {{ producto.nombreProducto }} del carrito de compras?</h3>
    {{ form.as_p }}
    <input class="boton_eliminarprod" type="submit" value="Si, quitar">
    <a class="boton_cancelar" href= "{% url 'verProductos' %}">Cancelar</a>
       </div>
       </form> 
</div>
</div>
{% endblock %}