{% extends "maqueta.html" %}

{% block nav %}
{% if user.is_authenticated and user.is_superuser %}
<nav>
    <a href="{% url 'inicio' %}">Inicio</a> 
    <a href="{% url 'gestionProducto' %}">Gestionar productos</a> 
    <a href="{% url 'logout' %}">Cerrar Sesion</a>
</nav> 
{% endif %}
{% endblock %}


{% block formulario %}
<div class="fondo-formulario">
<div class="paneleliminar">
    <div class="tituloeliminar">
        <h1>ELIMINAR PRODUCTO</h1>
    </div>
 <div class="formularioeliminar">
 <form method="post" action="" enctype="multipart/form-data">
    <div class="contenedor-inputseliminar">
    {% csrf_token %}
    <h3>¿Desea eliminar el registro de {{ producto.nombreProducto }}?</h3>
    {{ form.as_p }}
    <input class="boton_eliminarprod" type="submit" value="Si, eliminar">
    <a class="boton_cancelar" href= "{% url 'gestionProducto' %}">Cancelar</a>
       </div>
       </form> 
</div>
</div>
</div>
{% endblock %}