
{% extends "maqueta.html" %}
{% load static%}

{% block lista %}   
<div class="panellista">
    <div class="formulariolista">
        <div class="formucontenedor">      
            <table class="tablalista" border="0">
                <thead>
                    <tr>
                        <td class="columnas">#</td>
                        <td class="columnas">Nombre</td>
                        <td class="columnas">Precio</td>
                        <td class="columnas">Descripción</td>
                        <td class="columnas">Stock</td>
                        <td class="columnas">Imagen</td>
                        <td class="columnas">Acción</td>
                    </tr>
                </thead>
                <tbody>
                    {% if producto %}
                        {% for p in producto %}
                            <tr>    
                                <td class="fila">{{ p.codigoProducto }}</td>
                                <td class="fila">{{ p.nombreProducto }}</td>
                                <td class="fila">{{ p.precioProducto }}</td>
                                <td class="fila">{{ p.descripcion }} </td>
                                <td class="fila">{{ p.stockProducto }}</td>
                                <td class="foto">
                                    <img src="{{ p.fotoProducto.url }}" width="200px" height="100px"></td>
                                <td class="boton_accion">
                                    <a class= "boton_editarlista" href = "{% url 'editarProducto' pk=p.codigoProducto %}"> EDITAR </a> 
                                    <a class= "boton_eliminarlista" href = "{% url 'eliminarProducto' pk=p.codigoProducto %}"> ELIMINAR </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h2>No hay productos </h2>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}

<!--   href="{% url 'gestionCliente' %}"     -->

{% block formulario %}
<div class="fondo-formulario">
    <div class="regpanel">
        <div class="regtitulo">
            Datos de producto
        </div>
        <div class="regproducto">
            <form class="formulario" method="post" enctype="multipart/form-data" action="">
            <div class="regcontenedor-inputs">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn-enviar" type="submit" value="Crear producto">
            </div>
            </form>  
        </div>
    </div> 
</div>
{% endblock %}