{% extends "maqueta.html" %}
{% load static from staticfiles %}


<!-- BLOQUES CUERPO PAGINA-->

{% block fotoperro %}
<script src="{% static 'prefix.js' %}" type="test/javascript"></script>
<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>

<div class="carrusel-social">
    <div class="car">
        <ul class="carrusel">
            <li class="img"><img src="{% static 'img/local1.jpg' %}"></li>
            <li class="img"><img src="{% static 'img/muffins.jpg' %}"></li>
            <li class="img"><img src="{% static 'img/chaparrita.jpg' %}"></li>
            <li class="img"><img src="{% static 'img/cafes.jpg' %}"></li>
        </ul>
    </div>
 </div>
<script src="{% static 'js/codigo.js' %}"></script>
{% endblock %}

{% block info %}
<div class="info">
    <div class="texto1">
        <h3>Comunicate con nosotros por nuestras redes sociales!</h3>
    </div>
    
    <div class="texto3">
        <a href="www.gmail.com"><img src="{% static 'img/1.png' %}" width="4%"> </a>
        <a href="www.facebook.com"> <img src="{% static 'img/2.png' %}" width="4%"> </a>
        <a href="www.instagram.com"> <img src="{% static 'img/3.png' %}" width="4%"> </a>
        <a href="www.hotmail.com"> <img src="{% static 'img/4.png' %}" width="6%"> </a>
    </div>
</div>
{% endblock %}


<div id="carrusel">
    <div>
        <img src="img/chaparrita.jpg">
        <p><b>"Estamos felices de tener a Tom en casa. Es un super fiel compañero"</b></p>
    </div>
    <div>
        <img src="img/muffins.jpg">
        <p><b>"Estamos felices de tener a Duque en casa. Es un super fiel compañero"</b></p>
    </div>
    <div>
        <img src="img/cafes.jpg">
        <p><b>"Estamos felices de tener a Apolo en casa. Es un super fiel compañero"</b></p>
    </div>
    <div>
        <img src="img/local1.jpg">
        <p><b>"Estamos felices de tener a Apolo en casa. Es un super fiel compañero"</b></p>
    </div>
</div>
<script src="js/codigo.js"></script>


{% block cajainfo %}
<div class="cajainfo">
    <div class="columna1">
        <h1>RIKISHI</h1>
        
        <h3>OBJETIVO</h3>

        <br></br>

        <div class="hr1">
            <hr color=black width=50px size=3 />
        </div>

        <br></br>
        <p>El fin de este sistema web es lograr facilitarles la compra a los clientes</p>
        <p>de los locales de comida dentro del duoc.</p>

        <br></br>

        <div>
            <img src="{% static 'img/carrito.png' %}" width="50%" >
        </div>
    </div>
 



    <div class="columna2">
        
        <div>
            <img src="{% static 'img/retira.jpg' %}" width="40%">
        </div>
        <h1>¡SOLO RETIRA PAGANDO!</h1>
        
        <h3>¿COMO HACERLO?</h3>
        <br>
        <div class="hr1">
            <hr color=black width=50px size=3 />
        </div>
        <br>
        <p>Registrate en la página e ingresa sesión, podrás ver todos los productos publicados</p>
        <p>por los locales, realiza tu lista de compra y encarga en la hora que quieras retirar!.</p>

        <br>

        <input type="submit" value="CAMPAÑAS" />
    </div>
</div>
{% endblock %}
<!--
{% block collage %}
<div class="collage">

    <div class="caja">
        <img src="{% static 'img/rescatados/Oso_tn.jpg' %}" alt="Nueve">
        <img src="{% static 'img/rescatados/Maya_tn.jpg' %}" alt="Nueve">
        <img src="{% static 'img/rescatados/Wifi_tn.jpg' %}" alt="Nueve">
    </div>


    <div class="caja largo">
        <img src="{% static 'img/rescatados/Chocolate_tn.jpg' %}" alt="Nueve">
        <img src="{% static 'img/rescatados/Pexel_tn.jpg' %}" alt="Nueve">
    </div>


    <div class="caja">
        <img src="{% static 'img/rescatados/Bigotes_tn.jpg' %}" alt="Nueve" style="height:62%">
        <img src="{% static 'img/rescatados/Luna_tn.jpg' %}" alt="Nueve">
    </div>

</div>
{% endblock %}
-->