
{% extends "maqueta.html" %}
{% load static%}

{% block formulario %}
<div class="fondo-formulario">
<div class="panel">
    <div class="titulo">
        <h1>INICIAR SESION</h1>
    </div>
 <div class="formulari">
 <form method="post" action="" enctype="multipart/form-data">
            <div class="contenedor-inputs2">
                {% csrf_token %}
                {{form.as_ul}}
                <input type="submit" class="btn-ingreso" value="Ingresar">
            </div>
        </form> 
</div>
</div>
</div>
{% endblock %}