
{% extends "maqueta.html" %}
{% load static%}

{% block nav %}
{% if user.is_authenticated and user.is_superuser %}
<nav>
    <a href="{% url 'inicio' %}">Inicio</a> 
    <a href="{% url 'registroCliente' %}">Gestionar Mascotas</a>
    <form class="logout-link" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Cerrar Sesión</button>
                    </form>
</nav> 
{% else %}
<nav>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'registroCliente' %}">Registrarse</a>
    <a href="#">Productos</a>
    <a href="#">Contactanos</a> 
    <a href="{% url 'login' %}">Iniciar Sesion</a>
</nav> 
{% endif %}
{% endblock %}


{% block formulario %}
<div class="panel2">
    <div class="titulo2">
        Registro Usuario
    </div>
<div class="formulari2">
<form class="formulario" method="post" enctype="multipart/form-data" action="">
    <div class="contenedor-inputs2">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn-enviar" type="submit" value="Registrarme">
</div>
</form> 
</div> 
</div>  
{% endblock %}