
{% extends "maqueta.html" %}
{% load static%}

{% block bienvenido_user  %}
{% if user.is_authenticated  %}
<div class="navegador">
    <div class="usuario">
 <h4>{{user.username}}</h4>
</div>
<nav>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'verProductos' %}">Ver productos</a> 
    <a href="{% url 'logout' %}">Cerrar sesión</a>
</nav> 
</div>
{% endif %}
{% endblock %}

{% block lista2 %}   
<div class="fondo-formulario">
<div class="regtitulo">
    Carrito
</div>
<div class="panellista">
    <div class="formulariolista">
        <div class="formucontenedor">      
            <table class="tablalista" border="0">
                <thead>
                    <tr>
                        <td class="columnas">#ID PEDIDO</td>
                        <td class="columnas">Nombre</td>
                        <td class="columnas">Precio</td>
                        <td class="columnas">Acción</td>
                    </tr>
                </thead>
                <tbody>
                    {% if pedido %}
                        <a class= "boton_editarlista" href = "{% url 'mostrarPedido' %}"> ENCARGAR PEDIDO </a> 
                        {% for dp in pedido %}
                            <tr>    
                                <td class="fila">{{ dp.codigoPedido }}</td>
                                <td class="fila">{{ dp.nombreProducto }}</td>
                                <td class="fila">{{ dp.precioProducto }}</td>
                                <td class="boton_accion">
                                    <a class= "boton_eliminarlista" href = "{% url 'eliminarPedido' pk=dp.codigoPedido %}"> QUITAR DEL CARRITO </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h2>No hay pedidos en el carrito</h2>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock%}


{% block lista %}   
<div class="fondo-formulario">
<div class="regtitulo">
    Lista de productos
</div>
<div class="panellista">
    <div class="formulariolista">
        <div class="formucontenedor">      
            {% if producto %}
                <div class="infoproducto">
                {% for p in producto %}   
                        <div class="cajaproducto">
                            <div class="imagen-producto">
                                <img src="{{ p.fotoProducto.url }}" width="210px" height="200px">
                            </div>
                            <div class="productodetalles">
                                <h3>{{ p.nombreProducto }}</h3>
                                <h4>${{ p.precioProducto }}</h4>
                                <a class= "btn-añadir" href = "{% url 'añadirProducto' pk=p.codigoProducto %}"> AGREGAR AL CARRITO </a>
                            </div>
                        </div>
                {% endfor %}
                  </div>
            {% else %}
                <h2>No hay productos </h2>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock%}
<!--   href="{% url 'gestionCliente' %}"     -->

