
{% extends "maqueta.html" %}
{% load static%}

{% block bienvenido_user  %}
{% if user.is_authenticated  %}
<h2 class="mensaje">Bienvenido {{user.username}}</h2>
<nav>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="#">Quienes Somos</a>
    <a href="#">Servicios</a>
    <a href="{% url 'verProductos' %}">Ver productos</a> 
    <a href="{% url 'logout' %}">Cerrar sesión</a>
</nav> 
{% endif %}
{% endblock %}

{% block lista2 %}   
<div class="regtitulo">
    Carrito
</div>
<div class="panellista">
    <div class="formulariolista">
        <div class="formucontenedor">      
            <table class="tablalista" border="0">
                <thead>
                    <tr>
                        <td class="columnas">#ID PEDIDO</td>
                        <td class="columnas">Nombre</td>
                        <td class="columnas">Precio</td>
                        <td class="columnas">Acción</td>
                    </tr>
                </thead>
                <tbody>
                    {% if pedido %}
                        {% for dp in pedido %}
                            <tr>    
                                <td class="fila">{{ dp.codigoPedido }}</td>
                                <td class="fila">{{ dp.nombreProducto }}</td>
                                <td class="fila">{{ dp.precioProducto }}</td>
                                <td class="boton_accion">
                                    <a class= "boton_editarlista" href = "#"> ENCARGAR PEDIDO </a> 
                                    <a class= "boton_eliminarlista" href = "{% url 'eliminarPedido' pk=dp.codigoPedido %}"> QUITAR DEL CARRITO </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h2>No hay pedidos en el carrito</h2>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}


{% block lista %}   
<div class="regtitulo">
    Lista de productos
</div>
<div class="panellista">
    <div class="formulariolista">
        <div class="formucontenedor">      
            <table class="tablalista" border="0">
                <thead>
                    <tr>
                        <td class="columnas">#</td>
                        <td class="columnas">Nombre</td>
                        <td class="columnas">Precio</td>
                        <td class="columnas">Descripción</td>
                        <td class="columnas">Stock</td>
                        <td class="columnas">Imagen</td>
                        <td class="columnas">Acción</td>
                    </tr>
                </thead>
                <tbody>
                    {% if producto %}
                        {% for p in producto %}
                            <tr>    
                                <td class="fila">{{ p.codigoProducto }}</td>
                                <td class="fila">{{ p.nombreProducto }}</td>
                                <td class="fila">{{ p.precioProducto }}</td>
                                <td class="fila">{{ p.descripcion }} </td>
                                <td class="fila">{{ p.stockProducto }}</td>
                                <td class="foto">
                                    <img src="{{ p.fotoProducto.url }}" width="200px" height="100px"></td>
                                <td class="boton_accion">
                                    <a class= "boton_editarlista" href = "{% url 'añadirProducto' pk=p.codigoProducto %}"> AGREGAR AL CARRITO </a> 
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h2>No hay productos </h2>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}
<!--   href="{% url 'gestionCliente' %}"     -->

